body{
    background-color: rgb(22,27,34)
}

.header{
    font-family: 'Baloo 2';
    color: white;
    display:flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

form{
    border-radius: 10px;
    width: 60%;
    height: 60px;
    display:flex;
    flex-direction: row;
    background-color: #323335;
    align-items: center;
}

input{
    all: unset;
    font-size: 20px;
    font-family: 'Baloo 2';
    color: #ffff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

button{
    background-color: transparent;
    outline-color: transparent;
    border:none;
    padding-left: 50px;
}

::placeholder{
    color:#ffff;
    opacity: .69;
}
