body{
    background-color: rgb(22,27,34)
}

.header{
    font-family: 'Baloo 2';
    color: white;
    display:flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

form{
    border-radius: 10px;
    width: 60%;
    height: 60px;
    display:flex;
    flex-direction: row;
    background-color: #323335;
    margin: auto;
    margin-top: 5%
}

input{
    all: unset;
    font-size: 20px;
    font-family: 'Baloo 2';
    color: #ffff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

button{
    background-color: transparent;
    outline-color: transparent;
    border:none;
    margin-right:.5%;
}

::placeholder{
    color:#ffff;
    opacity: .69;
}

.results{
    margin:auto;
    padding-top: 2.5%;
}

.resultlist li{
    list-style: none;
	width: 60%;
    height: 550px;
    background-color: rgb(99, 99, 99);
    margin: auto;
    position: relative;
    border-radius: 10px;
}

.stats{
    display:inline-table;
    color: #fff;
    font-size: 50px;
    padding-left: 1%;
}


/* .resultlist li:nth-child(1){

} */
